<h1>Vnesi ekipe:</h1>
<br>
<%= form_tag("/tekme") do %>
  <%= label :ekipa1, "Ekipa 1: " %>
  <%= text_field(:ekipa1, :field, :required => true) %>
  <br>
  <%= label :ekipa2, "Ekipa 2: " %>
  <%= text_field(:ekipa2, :field, :required => true) %>
  <br>
  <%= label :ekipa3, "Ekipa 3: " %>
  <%= text_field(:ekipa3, :field, :required => true) %>
  <br>
  <%= label :ekipa4, "Ekipa 4: " %>
  <%= text_field(:ekipa4, :field, :required => true) %>
  <br>
  <%= label :ekipa5, "Ekipa 5: " %>
  <%= text_field(:ekipa5, :field, :required => true) %>
  <br>
  <%= label :ekipa6, "Ekipa 6: " %>
  <%= text_field(:ekipa6, :field, :required => true) %>
  <br>
  <%= label :ekipa7, "Ekipa 7: " %>
  <%= text_field(:ekipa7, :field, :required => true) %>
  <br>
  <%= label :ekipa8, "Ekipa 8: " %>
  <%= text_field(:ekipa8, :field, :required => true) %>
  <br>
  <%= label :ekipa9, "Ekipa 9: " %>
  <%= text_field(:ekipa9, :field, :required => true) %>
  <br>
  <%= label :ekipa10, "Ekipa 10: " %>
  <%= text_field(:ekipa10, :field, :required => true) %>
  <br>
  <%= submit_tag("submit") %>
<% end %>